*{
  box-sizing: border-box;  
}

/* base */

body, h1, h2, h3, h4, h5, h6, p, div{
margin: 0;
}

body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Outfit', sans-serif;
    color: white;
}


/* header */

header img{
    width: 11rem;
    margin-block-start:  2rem;
    margin-inline-start:  6rem;
}

/* main */

#title-result, #rate-us{
    width: 70%;
    margin-inline: auto;
    text-align: center;
}

.container-results{
    display: inline-block;
    width: 30%;
    margin-block-start: 3rem;
}

#title-result h1{
    font-size: 3rem;
    margin-block-start: 4rem;
}

#title-result h4{
    font-size: 1rem;
    font-weight: 400;
}

/* correct/wrong */

.container-results h2{
    font-size: 3rem;
    font-weight: 400;
    margin-block: 0;
}

.container-results h3, #number{
    font-size: 3.5rem;
    font-weight: 600;
    margin-block: 0;
}

.container-results p{
    font-size: 1rem;
    font-weight: 400;
    margin-block: 0;
}

.left{
    text-align: left;
    vertical-align: middle;
}

.right{
    text-align: right;
    vertical-align: middle;
}

/* percentage */

.circle{
    height: 380px;
    width: 380px;
    vertical-align: middle;
    position: relative;
}

.pass {
    margin-inline: auto;
    border-radius: 50%;
    height: 339px;
    width: 339px;
    border: 30px solid #00ffff;
  }

/* animation */

  circle {
    fill: none;
    stroke: #900080;
    stroke-width: 30px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: anim 2s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  @keyframes anim {
    100% {
        /* lo troviamo facendo 1000-1000x66.7 */
      stroke-dashoffset: 330;
    }
  }

.circle h4{
    margin-block-start: 2.25rem;
    font-size: 1.25rem;

}

.circle h3{
    margin-block-end: 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #00ffff;
    font-family: 'Inter', sans-serif;
}

.circle p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.659);
}

.description {
    margin-inline: auto;
    padding-block: 2rem;
    width: 250px;
}

/* footer */

#rate-us button{
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-block: 4rem;
    padding-block: 1rem;
    padding-inline: 4rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}