*{
  box-sizing: border-box;  
}

/* base */

body, h1, h2, h3, h4, h5, h6, p, div{
margin: 0;
}

body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Outfit', sans-serif;

        color: white;
}


/* header */

header img{
    width: 11rem;
    margin-block-start:  2rem;
    margin-inline-start:  8rem;
}

/* main */

main, footer{
    width: 70%;
    margin-inline: auto;
    text-align: center;
}

.container{
    display: inline-block;
    width: 30%;
    margin-block-start: 4rem;
   
}

h1{
    font-size: 3rem;
    margin-block-start: 4rem;
}

h4{
    font-size: 1.5rem;
    font-weight: 400;
}

/* correct/wrong */

.container h2{
    font-size: 3rem;
    font-weight: 400;
    margin-block: 0;
}

.container h3{
    font-size: 3.5rem;
    font-weight: 600;
    margin-block: 0;
}
.container p{
    font-size: 1rem;
    font-weight: 400;
    margin-block: 0;

}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

/* percentual */

.circle{
    border-radius: 50%;
}

.circle h4{
    margin-block-start: 1.25rem;
    font-size: 1.25rem;

}

.circle h3{
    margin-block-end: 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #00ffff;
    font-family: 'Inter', sans-serif;
}

.circle p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.659);
}

.circle div{
    width: 60%;
    margin-inline: auto;
    
}

/* footer */

button{
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-block-start: 4rem;
    padding-block: 1rem;
    padding-inline: 4rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;

}