body {
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 80px;
  color: white;
  font-family: "Outfit", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
.logo1 {
  max-width: 150px;
}
.titoli {
  font-size: 60px;
  font-weight: 400;
}
.titoli span.thin {
  font-weight: 400;
}

.titoli span.bold {
  font-weight: bold;
  display: block;
}

.sottotitoli {
  color: #c2138c;
  font-size: 30px;
  margin: 0;
  font-family: Inter;
}

.descrizione {
  height: 80px;
  width: 600px;
}

.punti {
  height: 150px;
  margin-top: 20px;
  font-family: Inter;
}

.punti ul {
  padding-left: 20px;
}

.punti li strong {
  font-weight: bold;
  color: white;
}

.prosegui {
  background-color: #03ffff;
  border-style: none;
  float: right;
  margin-left: 200px;
}
#promessa {
  margin-right: 10px;
  font-family: Inter;
}

.prosegui a {
  display: inline-block;
  padding: 15px 50px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 20px 5px #03ffff;
}

.caselle {
  height: 20px;
  display: flex;
  align-items: center;
}
